body {
    font-family: Arial, sans-serif;
    background-color: #ffdde1;
    margin: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #d81b60;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form label, form input, form select, form button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

input[type="text"], input[type="number"], select {
    width: 98%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #d81b60;
    border-radius: 4px;
    text-align: center;
}

/* Define tamanho menor para os campos */
input[type="number"] {
    max-width: 100px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #d81b60;
}

th {
    background-color: #f8bbd0;
}

.summary {
    margin-top: 20px;
    font-weight: bold;
}

button {
    background-color: #d81b60;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #ad1457;
}

/* Cor do botão "Cancelar" igual à borda */
#cancel {
    background-color: #d81b60;
}

#cancel:hover {
    background-color: #ad1457;
}

/* Botão "Limpar Dados" com destaque */
#clear-data {
    background-color: #d32f2f;
}

#clear-data:hover {
    background-color: #b71c1c;
}
